default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  # password:
  host: localhost
development:
  <<: *default
  database: infra-test-app_development
test:
  <<: *default
  database: infra-test-app_test
production:
  <<: *default
  database: infra-test-app_production
  username: infra-test-app
  password: <%= ENV['INFRA-TEST-APP_DATABASE_PASSWORD'] %>
